{% extends "base.html" %}
{% block title %}K-Shop | Home{% endblock %}

{% block content %}

<section class="hero">
    <div>
        <p class="eyebrow">ONLINE SHOPPING MADE SIMPLE</p>

        <h1>Shop your everyday essentials.</h1>

        <p>
            Discover clothing, shoes, bags and electronics at affordable prices.
        </p>

        <a class="btn" href="{{ url_for('products') }}">
            Shop Now
        </a>
    </div>

    <div class="hero-card">
        🛍️
        <br>
        <span>Fast. Simple. Secure.</span>
    </div>
</section>


<section class="section">

    <div class="section-head">

        <h2>Featured Products</h2>

        <a href="{{ url_for('products') }}">
            View all →
        </a>

    </div>


    <div class="grid">

        {% for p in products %}

        <article class="card">

            <div class="product-img">

                <img
                    src="{{ url_for('static', filename=p['image']) }}"
                    alt="{{ p['name'] }}"
                >

            </div>


            <span class="tag">
                {{ p["category"] }}
            </span>


            <h3>
                {{ p["name"] }}
            </h3>


            <p>
                {{ p["description"] }}
            </p>


            <strong>
                KSh {{ "%.2f"|format(p["price"]) }}
            </strong>


            <a
                class="btn small"
                href="{{ url_for('product', product_id=p['id']) }}"
            >
                View
            </a>

        </article>

        {% endfor %}

    </div>

</section>

{% endblock %}
