{% extends "base.html" %}

{% block title %}VioletCart | Shop{% endblock %}

{% block content %}

<section class="section">

    <h1>Shop</h1>

    <form class="search" method="get">

        <input
            name="search"
            value="{{ search }}"
            placeholder="Search products..."
        >

        <button class="btn" type="submit">
            Search
        </button>

    </form>


    <div class="categories">

        <a href="{{ url_for('products') }}">
            All
        </a>

        {% for c in categories %}

            <a href="{{ url_for('products', category=c['category']) }}">
                {{ c["category"] }}
            </a>

        {% endfor %}

    </div>


    <div class="grid">

        {% for p in products %}

        <article class="card">

            <div class="product-img">

                <img
                    src="{{ url_for('static', filename=p['image']) }}"
                    alt="{{ p['name'] }}"
                >

            </div>


            <span class="tag">
                {{ p["category"] }}
            </span>


            <h3>
                {{ p["name"] }}
            </h3>


            <p>
                {{ p["description"] }}
            </p>


            <strong>
                KSh {{ "%.2f"|format(p["price"]) }}
            </strong>


            <a
                class="btn small"
                href="{{ url_for('product', product_id=p['id']) }}"
            >
                View product
            </a>

        </article>

        {% else %}

        <p>No products found.</p>

        {% endfor %}

    </div>

</section>

{% endblock %}
